body {
  font-family: "montserrat", sans-serif;
  background-color: #E6F2EF !important;
}

#navbar {
  background-color: black;
  display: inline-block;
  list-style-type: none;
  width: 100%;
}

#map {
 height: 60vh;
 width: 60%;
 text-align: center;
 margin: 5vh auto;
 border: black 1px solid;
}

.header {
  font-size: 30px;
  font-weight: 500;
  margin-left: 10%;
}

.subHeader {
  font-size: 20px;
  margin-left: 10%;
}

.mapHeader {
  margin: 3vh auto;
  text-align: center;
  font-size: 20px;

}

.divider {
  height: 1px;
  width: 80%;
  margin: 2vh auto;
  background-color: black;
}

#login {
  float: right !important;
}

#navbar li {
  padding: 1% 2%;
  font-size: 20px;
  float: left;
  color: white;
}

#feed {
  margin: 10vh auto;
  width: 60%;
  height: 50vh;
  text-align: center;
  overflow-y: scroll;
}
