body {
  font-family: "montserrat", sans-serif;
  text-align: center !important;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#navbar {
  margin-top: 1vh;
  background-color: #5DADE2;
  display: inline-block;
  list-style-type: none;
  width: 100%;
}

.currentPage {
  border-bottom: white 5px solid;
  padding-bottom: 2%;
}

#map {
 height: 60vh;
 width: 60%;
 text-align: center;
 margin-top: 3vh;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10vh;
 border: black 1px solid;
 background-color: #FFF;
}

.centeredHeader {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

#header {
  width: 100%;
  text-align: center;
}
#header > h1 {
  font-weight: 500;
}

#header > h3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 1%;
}

.mapAndFeedHeader {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
}

.divider {
  height: 1px;
  width: 80%;
  margin: 2vh auto;
  background-color: white;
}

#login {
  float: right !important;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: yellow;
}

#navbar li {
  padding: 1% 2%;
  font-size: 20px;
  float: left;
}

#username input, #password input {
  width: 95%;
}

#loginBox {
  padding: 15px;
  width: 40%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid #F2F3F4;
  border-radius: 10px;
}

#feed {
  margin-top: 3vh;
  margin-bottom: 10vh;
  width: 60%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-y: scroll;
}

.protest {
  margin-top: 50px;
  border: solid !important;
  border-width: 2px !important;
  box-shadow: 10px 10px 5px #888888 !important;
  width: 75% !important;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px;
  opacity: 0.85;
}

#fancy {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.protest h3 {
  font-size: 40pt;
}
