body {
  font-family: "montserrat", sans-serif;
  background-color: #E6F2EF !important;
}

#navbar {
  background-color: black;
  display: inline-block;
  list-style-type: none;
  width: 100%;
}

#login {
  float: right !important;
}

#navbar li {
  padding: 1% 2%;
  font-size: 20px;
  float: left;
  color: white;
}

#map {
  width: 50%;
  height: 50vh;
  margin: auto;
  text-align: center;
  border: black 1px solid;
}

#feed {
  margin-top: 10vh;
  width: 60%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: black 1px solid;
  overflow-y: scroll;
}
